.App {
  padding: 31px 127px;
}

nav {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}

nav:hover {
  cursor: pointer;
}

.quote {
  width: 614px;
  font-size: 36px;
  line-height: 120%;
  font-weight: 500;
  margin-bottom: 109px;
  position: relative;
}

.quote::before {
  content: "";
  position: absolute;
  background-color: #f7df94;
  width: 8px;
  height: 100%;
  top: 0;
  left: -99px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 672px;
  padding: 50px 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.container:hover {
  background-color: #333333;
  transition: all 0.3s;
  cursor: pointer;
}

.container:hover .name {
  color: #f2f2f2;
}

.profession {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: #4f4f4f;
}

.bottom {
  margin-bottom: 90px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}

.arrow {
  font-size: 20px;
  color: #fff;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -90px;
}

.loader {
  display: flex;
  justify-content: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
